// main colors for files

// primary color
$primary-color : #df5232;
$primary-dark : #c03718;
$primary-dim: #fae5e1;

// secondary color
$secondary-color : #01418b;
$secondary-color-5 : rgba($secondary-color, 0.05);

// other colors
$light-color : #f7f8fa;

$light-white : #ffffff;
$light-white-65 : rgba($light-white, 0.65);



$dark-color : #222222;
$dark-color-85 : rgba($dark-color, 0.85);
$dark-color-45 : rgba($dark-color, 0.45);
$dark-color-35 : rgba($dark-color, 0.35);
$dark-color-20 : rgba($dark-color, 0.20);
$dark-color-1: rgba($dark-color, 0.1);
$dark-color-5 : rgba($dark-color, 0.05);

