// Varialble of the files

// Margin content
$m-4 :4px;
$m-8 : 8px;
$m-16 : 16px;
$m-24 : 24px;
$m-60 : 60px;

// padding content
$p-4 : 4px;
$p-8 : 8px;
$p-12 :12px;
$p-16 : 16px;
$p-24 :24px;

// Box sizeing content
$box-shadow:  0 2px 14px 0 $secondary-color-5;

$border-dark-5 : 1px solid $dark-color-5;
